<html>
<head>
  <style>
    h1 {color:darkred;}
  </style>
</head>
<h1 align="center"> Safe &#64; School </h1>
<body class="unique">

<h3 align="center">An initiative to make schools safer</h3>

<div class="container" style="padding: 40px;">
  <div class="row">
    <div class="col-md-3">
      <p>
        A portal designed for the purpose of inviting parents, students, teachers and all
        concerned citizens to share their experiences, offer suggestions and solutions to
        eliminate the growing evil of violence against children in our society.
        <br>   <br>
        Come, join us, in rooting out this evil!
        <br>  <br>
        Let us make schools a safe haven for kids to grow and blossom into fine individuals!
      </p>
    </div>
    <div class="col-md-7">
        <div class="col-md-7 col-md-offset-12">
          <p> Rate your school, report issues, get school authorities to respond, feel safe in schools!</p>
          <p><button class="btn btn-info" type="submit"><%="#{Issue.all.count} issues opened" %></button></p>
          <p><button class="btn btn-info" type="submit"><%="#{Issue.where(status:"Closed").count} issues closed" %></button></p>
          <p><button class="btn btn-info" type="submit"><%="#{Review.all.count} reviews posted" %></button></p>
        </div>
    </div>
  </div>
</div>
</body>
</html>