<html>
<head>
  <style>
    h1 {color:darkred;}
  </style>
</head>
<h1 align="center"> Safe &#64; School </h1>
<body class="unique">

<h3 align="center">An initiative to make schools safer</h3>

<div class="container" style="padding: 40px;">
  <div class="row">
    <div class="col-md-3">
      <p>
        A portal designed for the purpose of inviting parents, students, teachers and all
        concerned citizens to report incidents of harassment and violence against children in our schools, particularly against the girl child.
        <br>   <br>
        We seek suggestions and solutions to eliminate this growing evil of physical violence against vulnerable children.
        In particular, we invite the concerned government agencies to take notice of this worrying
        trend and to extend their fullest co-operation in making our schools safe for our children.
        <br>   <br>
        Come, join us, in rooting out this evil before it turns into a monster!
        <br>  <br>
        Let us join hands to make schools a safe haven for children to grow and blossom into fine individuals!
      </p>
    </div>
    <div class="col-md-7">
        <div class="col-md-7 col-md-offset-12">
          <p> Rate your school, report issues, get school authorities to respond, feel safe in schools!</p>
          <br> <br> <br> <br> <br> <br>
          <p align="center"> <h4> ACTIVITY FEED </h4> </p>
          <p><button class="btn btn-info" type="button" disabled="disabled"><%="#{Issue.all.count} issues opened" %></button></p>
          <p><button class="btn btn-info" type="button" disabled="disabled"><%="#{Issue.where(status:"Closed").count} issues closed" %></button></p>
          <p><button class="btn btn-info" type="button" disabled="disabled"><%="#{Review.all.count} reviews posted" %></button></p>
        </div>
    </div>
  </div>
</div>
</body>
</html>