<div class="container center_div">
  <div class="row">
    <div class="col-md-5">

    <h3>Listing schools</h3>

      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Locality</th>
        </tr>

        <% @schools.each do |school| %>
          <tr>
            <td><%= school.name %></td>
            <td><%= school.locality %></td>
            <td><%= link_to 'Show', school_path(school) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

