<%= link_to root_path, class: 'btn btn-lg btn-primary' do %>
  <i class="glyphicon glyphicon-plus"></i> Home
<% end %>

<br> <br>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Localtiy</strong>
  <%= @school.locality %>
</p>

