// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentBox {
  padding:10px;
  background: transparent;
  min-width: 40px;
  padding: 5px 35px 5px 5px;
  font-size: 12px;
  border: 2px solid #ccc;
  height: 70px;
}