// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}

.dropdown-menu {
  min-width: 100px;
}
