<div class="container center_div">
  <div class="row">
    <div class="col-md-5">

      <h3>Suggestion center</h3>
      <p>
        We invite the public to suggest ways to make schools safe. <br>
        Please click <%= link_to 'here', new_suggestion_path %> to add a suggestion.
        <br><br>

        Here are a few suggestions sent in by the public.
      </p>
        <ul class="list-group">
          <% @suggestions.each do |suggestion| %>
            <li class="list-group-item">>
              <%= suggestion.desc %>
            </li>
        <% end %>
        </ul>
    </div>
  </div>
</div>

